<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>
		Piadineria Advancia
	</display-name>
	<description>
		Exercise Project on Web App Development

		A piadina vendor has requested the creation of a website where
		their employees can prepare the piadinas that will make up the
		options for customers, starting from a set of predefined ingredients.
	</description>
	<!-- *************************************************************************************** -->
	<servlet>
		<servlet-name>LoadLoginServlet</servlet-name>
		<display-name>LoadLoginServlet</display-name>
		<description><!-- TODO --></description>
		<servlet-class>servlets.LoadLoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<display-name>LoginServlet</display-name>
		<description>
			Login form to access the dashboard of the web application dedicated
			to the employees of Piadineria Advancia.
		</description>
		<servlet-class>servlets.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoadDashboardServlet</servlet-name>
		<display-name>LoadDashboardServlet</display-name>
		<description><!-- TODO --></description>
		<servlet-class>servlets.LoadDashboardServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DashboardServlet</servlet-name>
		<display-name>DashboardServlet</display-name>
		<description><!-- TODO --></description>
		<servlet-class>servlets.DashboardServlet</servlet-class>
	</servlet>
	<!-- *************************************************************************************** -->
	<servlet-mapping>
		<servlet-name>LoadLoginServlet</servlet-name>
		<url-pattern>/LoadLoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoadDashboardServlet</servlet-name>
		<url-pattern>/LoadDashboardServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DashboardServlet</servlet-name>
		<url-pattern>/DashboardServlet</url-pattern>
	</servlet-mapping>
</web-app>
