@charset "UTF-8";

:root {
    --dark-water: #2A363B;
    --medium-water: #3B4C54;
    --light-water: #4C626B;
    --cream: #EDE3D8;
    --light-gray: #FCFFF5;
    --mustard: #E0A500;
    --pure-white: #FFFFFF;
    --shadow-black: rgba(0, 0, 0, 0.2);
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--light-gray);
    color: var(--dark-water);
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--medium-water);
    color: var(--pure-white);
    padding: 1rem;
    text-align: center;
}

form {
    background-color: var(--cream);
    margin: 2rem auto;
    padding: 1.5rem;
    width: 90%;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 4px 6px var(--shadow-black);
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

input, select, button {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid var(--medium-water);
    border-radius: 4px;
    font-size: 1rem;
}

button {
    background-color: var(--mustard);
    color: var(--pure-white);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--dark-water);
}

.chips-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 2rem;
}

.chip-set {
    display: inline-block; 
}

.chip {
    background-color: #EDE3D8;
    border-radius: 8px;
    padding: 8px 12px;
    font-size: 14px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease, border 0.3s ease;
    border: 1px solid var(--dark-water);
    color: black;
}

.chip:hover {
	/*background-clip: border-box;*/
}

.chip.selected {
    background-color: var(--dark-water);
    color: white;
}

